
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <title>Connect</title>
</head>

<body>

<!--This is to print the username which is email in this case-->
<!--<div sec:authorize="isAuthenticated()">-->
<!--    Welcome <span sec:authentication="name"></span></div>-->


Welcome <span sec:authentication="principal.handleUserName">Fullname</span>
<br>
Admin Panel
<br>
<br>
<a href="/admin/accountdetails">Account Details</a>
<br>
<br>
<a href="/admin/getConnections">Connections</a>
<br>
<br>
<a href="/logout">Logout</a>

</body>

</html>